.product-1{
    width: 208px;
    height: 250px;
}
.product-2{
    width: 208px;
    height: 250px;
}
.product-3{
    width: 208px;
    height: 250px;
}
.product-4{
    width: 208px;
    height: 250px;
}
.product-5{
    width: 208px;
    height: 250px;
}
.product-6{
    width: 208px;
    height: 250px;
}
.product-7{
    width: 208px;
    height: 250px;
}.product-8{
    width: 208px;
    height: 250px;
}